ul {
  list-style-type: none;
}

a {
  cursor: pointer;
}

.forecastHeader {
  padding: 20px 0 0 65px;
  text-align:left;
  line-height:0px;
}

.weatherTile {
  float:left;
  margin:5px;
  width: 180px;
  border: 1px solid #AAF;
  border-radius:20px;
  padding: 20px;
  transition: 0.2s;
}

.weatherTile i {
 width:30px;
 text-align:center;
}

.weatherTile:hover {
  border: 1px solid rgb(200, 200, 200);
  box-shadow: rgba(0, 0, 0, 0.1) 0 5px 5px 2px;
  transition: 0.5s;
}

.active {
   background-color: #DDF;
}

.weatherList {
  height:290px;
  width:100%;
}