<div>
    <ul>
        <li ng-repeat="cityName in ctrl.cityNames" ng-click="ctrl.showForecast(cityName)">
            <a>
            <div ng-class="{'active':cityName === ctrl.activeCity}" weather-tile data-tilename="cityName" data-cityname="cityName"></div>
            </a>
        </li>
    </ul>
</div>