<div class="weatherTile" ><h3 ng-bind="tilename"></h3><br />
    <i class="fa fa-tint" aria-hidden="true"></i><span ng-bind="ctrl.cityData.main.humidity"></span>%<br />
    <i class="fa fa-tachometer" aria-hidden="true"></i><span ng-bind="ctrl.cityData.main.pressure"></span><br />
    <i class="fa fa-thermometer-full" aria-hidden="true"></i><span ng-bind="ctrl.cityData.main.temp_max"></span>°C<br />
    <i class="fa fa-thermometer-half" aria-hidden="true"></i><span ng-bind="ctrl.cityData.main.temp"></span>°C<br />
    <i class="fa fa-thermometer-empty" aria-hidden="true"></i><span ng-bind="ctrl.cityData.main.temp_min"></span>°C<br /><br />

    <div ng-repeat="weather in ctrl.cityData.weather">
        <b ng-bind="weather.main"></b>
        <p ng-bind="weather.description"></p>
    </div>
</div>