<div>
   <div class="forecastHeader"><h2 ng-bind="ctrl.cityName"></h2><b>forecast for the next 5 days</b></div>
   <div class="weatherList">
      <ul>
         <li ng-repeat="day in ctrl.days track by $index" >
            <div weather-tile data-tilename="day.tileName" data-cityname="day.cityName" data-forecast="day.forecastKey"></div>
         </li>
      </ul>
   </div>
</div>